* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: rgb(10, 10, 10);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

*::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(255,255,255,.4);
}

*::-webkit-scrollbar-track {
  border-radius: 50px;
}

*::-webkit-scrollbar {
  display: none;
}

/* *:hover::-webkit-scrollbar {
  display:block ;
} */