* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: rgb(10, 10, 10);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}