button, #invite-btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  text-decoration: none;
  outline: none;
}

button:hover, #invite-btn:hover {
    background-color: #79d7e4;
}

input {
  border: solid 1px lightgray;
  font-size: 1.0rem;
}

::-webkit-input-placeholder {
  font-style: italic;
}