button, .button {
  background-color: var(--form-btn-bkg-color); /*  #00bcd4; */
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.15rem 1.2rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  text-decoration: none;
  outline: none;
}

button:hover, .button:hover {
  background-color: var(--form-btn-hover-color);
}

button:active, .button:active {
  transform: scale(0.97, 0.97);
}

button.disabled, .button.disabled {
  background-color: #CCC;
  color: #777;
  cursor: unset;
}

button.disabled:hover, .button.disabled:hover {
  background-color: #CCC;
}

button.disabled:active, .button.disabled:active {
  transform: unset;
}


select {
  background-color: var(--form-btn-bkg-color);
  border: solid 1px var(--form-btn-border-color);
  color: white;
  width: 100%;
  border-radius: 0.2rem;
  text-align: center;
  appearance: none;
  cursor: pointer;
  height: 1.3rem;
  font-size: 1rem;
}

option {
  height: 1rem;
}

select:focus {
  border: solid 2px var(--form-btn-border-color);
  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}


/* TOGGLE SWITCH  */

.toggle {
  /* opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px; */
  display: none;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}


input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 2em;
  height: 1em;
  background-color: hsl(0, 80%, 90%);
  border-radius: 1em;
  margin-right: .25em;
  transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "\2715";
  font-size: .5em;
  height: .9em;
  left: .2em;
  width: 1.8em;
  height: 1.8em;
  background-color: hsl(0, 80%, 60%);
  color: white;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: hsl(100, 70%, 90%);
}

input[type="checkbox"].toggle:checked + label::after {
  content: "\2713";
  transform: translateX(100%);
  background-color: hsl(100, 70%, 60%);
}

input[type="checkbox"].toggle:disabled + label {
  color: #777;
}

input[type="checkbox"].toggle:disabled + label::before {
  background-color: #CCC;
}

input[type="checkbox"].toggle:disabled + label::after {
  background-color: #777;
}


/* NUMBER STEPPER  */

.number-stepper-input {
  display: flex;
  width: fit-content;
  gap: 0.2rem;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.stepper {
  width: 1.5rem;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.stepper-input-modifiers {
  font-family: monospace;
  cursor: pointer;
  color: white;
  background-color: var(--form-btn-bkg-color);
  border: solid 0.08rem var(--form-btn-border-color);
  border-left-width: 0.16rem;
  border-right-width: 0.16rem;
  height: 1.2rem;
  width: 2.4rem;
  margin-inline: -1rem;
  transform: scaleX(0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.stepper-input-modifiers.decrement {
  padding-right: 0.2rem;
}
.stepper-input-modifiers.increment {
  padding-left: 0.2rem;
}

.stepper-input-modifiers:hover {
  background-color: var(--form-btn-hover-color);
}

.stepper-input-modifiers:active {
  transform: scale(0.44, 0.88);
}

#expand-match-details-button {
  font-family: monospace;
  cursor: pointer;
  color: white;
  background-color: var(--form-btn-bkg-color);
  border: solid 0.08rem var(--form-btn-border-color);
  border-left-width: 0.16rem;
  border-right-width: 0.16rem;
  height: 1.2rem;
  width: 2.4rem;
  margin-inline: -1rem;
  transform: scaley(0.5) rotate(90deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; 
}

#expand-match-details-button.expanded {
  transform: rotate(180);
}


.prompt {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-form {
  background: var(--bkg-color);
  padding: 4rem;
  border: 1px solid var(--border-color);
  color: white;
  font-weight: bold;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-name-form {
  width: max-content;
  height: 5rem;
  gap: 0.8rem;
}

#user-name-form > div {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-name-form > div > * {
  height: 100%;
}
#user-name-form > div > input {
  width: 1rem;
  flex-grow: 1;
  border: 0;
  border-radius: 0.1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#user-name-form > div > button {
  width: 2rem;
  padding: 0 0.4rem 0rem;
  font-weight: bold;
  border-radius: 0.1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.prompt-form > * {
  flex-basis: 1;
  flex-grow: 1;
  height: 2rem;
}

.prompt-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.prompt-button-container > * {
  flex-basis: 0;
  flex-grow: 1;
  height: 2rem;
}

.prompt-button-container > .close-prompt-button {
  background-color: gray;
}

.prompt-button-container > .close-prompt-button:hover {
  background-color: lightgray;
}