#game-wrapper, .game-wrapper > *, .game-wrapper > *::after, .game-wrapper > *::before {
  box-sizing: border-box;
}

#game-wrapper {
  background-color: green;
  width: 400px;
  height: 20rem;
  margin: 0;
  padding: 1.3rem;
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: .5rem;
  justify-content: center;
  user-select: none;
  border:1px solid black;
}

.deck{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: .5rem;
  background-image: 
  repeating-linear-gradient(135deg,
      black 2px, black 4px,
      transparent 4px, transparent 6px,
      black 6px, black 8px,
      transparent 8px, transparent 10px,
      black 10px, black 12px,
      transparent 12px, transparent 14px,
      black 14px, black 16px,
      transparent 16px, transparent 18px,
      black 18px, black 19px,
      transparent 19px, transparent 21px,
      black 21px, black 23px,
      transparent 23px, transparent 25px,
      black 25px, black 26px,
      transparent 26px, transparent 28px),
  repeating-linear-gradient(45deg,
    rgba(48, 103, 253) 2px, rgba(48, 103, 253) 4px,
    white 4px,white 6px,
    rgba(48, 103, 253) 6px,rgba(48, 103, 253) 8px,
    white 8px, white 10px,
    rgba(48, 103, 253) 10px, rgba(48, 103, 253) 12px,
    white 12px, white 14px,
    rgba(48, 103, 253) 14px, rgba(48, 103, 253) 16px,
    white 16px, white 18px,
    rgba(48, 103, 253) 18px, rgba(48, 103, 253) 19px,
    white 19px, white 21px,
    rgba(48, 103, 253) 21px, rgba(48, 103, 253) 23px,
    white 23px, white 25px,
    rgba(48, 103, 253) 25px, rgba(48, 103, 253) 26px,
    white 26px, white 28px);
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  user-select: none;
}

.game-message{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  border: solid 1px black ;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  user-select: none;
}

.card.red{
  color:red;
}

.card.black{
  color:black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem;
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg)
}