@import "./form.css";
@import "./variables.css";

#new-game-wrapper {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

#options-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
}

#options-wrapper > * {
  margin: 2vh;
}

h1 {
  text-align: center;
  padding: 0;
}

input {
  background-color: whitesmoke;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 2px;
}

#error {
  color:brown;
  font-weight: 900;
  margin-top: -0.7rem;
  padding-left: 0.4rem;
  height:0;
}

/* input::after {
  position: absolute;
  content: "";
  bottom: .5rem;
  right: .5rem;
} */

.index-line {
  height: 2rem;
  padding: 0px;
}

form.index-line {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

form.index-line > * {
  height: 1.9rem;
  margin:0;
}

form.index-line > input {
  flex-shrink: 1;
}

form.index-line > button {
  flex-shrink: 0;
}
