@import "./form.css";
@import "./variables.css";


#chat-wrapper {
padding: 1.5rem;
/* padding-top: 1.5rem;
padding-bottom: 1.5rem; */
gap: 0.2rem;
display: flex;
flex-direction: column;
/* justify-content: space-between; */
/* background-color: var(--bkg-color); */
min-width: 0;
}

#chat-wrapper > * {
  border: solid var(--border-thickness-first-container) var(--border-color);
  background-color: var(--first-container-bkg-color);
  color: var(--font-color);
  border-radius: var(--first-container-border-radius);
}

#chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}


#messages {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow-y: auto;
  word-break: break-word;
}

#messages li {
  font-size: 1rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  border: solid 1px var(--border-color);
  background-color: var(--item-bkg-color);
  /* color: white; */
  border-radius: 5px;
  max-width:80%;
}

#messages li.me {
  align-self: flex-end;
  margin-right: 1rem;
  margin-left: 25%;
  user-select: contain;
}

#messages li.other {
  align-self: flex-start;
  margin-left: 1rem;
  margin-right: 25%;
  user-select: contain;
}

#messages li.server {
  border: 0px;
  background-color: transparent;
  align-self: center;
  text-align: center;
  color: var(--secondary-font-color);
  font-size: 0.9rem;
  font-style: italic;
  border: 0px;
}


#chat-form {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--border-color);
}

#chat-form input {
  outline: none;
  background-color: #24221e;
  border: 0;
  font-size: 1.0rem;
  line-height: 1.5rem;
  margin: 0;
  min-width: 0;
  flex-basis: 6rem;
  flex-grow: 99999;
  flex-shrink: 1;
  padding: 0 2px;
  user-select: contain;
  text-align: left;
  vertical-align: middle;
  color: var(--font-color);
}

#chat-form input::placeholder {
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 0.1rem;
  vertical-align: middle;
  text-align: center;
}

#chat-form button {
  margin-right: -1px;
  padding: 0 0.4rem;
  border-radius: 0;
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: bold;
}

#match-details {
  font-size: 1.2rem;
  font-weight: bold;
  border: solid var(--border-thickness-first-container) var(--border-color);
  background-color: var(--first-container-bkg-color);
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: var(--first-container-border-radius);
}