@import "./match-chat.css";
@import "./match-settings.css";
@import "./match-game.css";
@import "./match-result.css";

#match-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  user-select: none;
}

#chat-wrapper {
  /* border: 1px solid lightgrey; */
  margin: 0;
  height: 100vh;
  flex-grow: 1;
  flex-shrink: 1;
}

#settings-wrapper,
#game-wrapper,
#result-wrapper {
  margin: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

#game-wrapper,
#result-wrapper {
  display: none;
}

@media (orientation: landscape) {
  html {
    font-size: 2.627vh;
  }

  #settings-wrapper,
  #game-wrapper,
  #result-wrapper {
    height: 100vh;
    width: 90vh;
  }

  #chat-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 20rem;
  }

}

@media (orientation: portrait) {

  html {
    font-size: 3vw;
  }

  #match-wrapper {
    width: 100vw;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }
  
  #settings-wrapper,
  #game-wrapper,
  #result-wrapper {
    width: 100vw;
    height: 113vw;
  }

#settings-wrapper,
#result-wrapper {
  max-height: 100vh;
}

  #chat-wrapper {
    height: 10rem;
    width: 100vw;
  }

}