@import "./form.css";
@import "./variables.css";

.im-not-host * {
  pointer-events: none;
}

#settings-wrapper {
  padding: var(--containers-gap);
  gap: var(--containers-gap);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--bkg-color);
  color: var(--font-color);
}

#settings-wrapper-except-startbutton{
  gap: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

#players-wrapper, #all-settings {
  border: solid var(--border-thickness-first-container) var(--border-color);
  background-color: var(--first-container-bkg-color);
  border-radius: var(--first-container-border-radius);
  padding: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

#players-wrapper {
  min-width: 25%;
  overflow: auto;
}

#invite-btn, #add-bot-btn {
  margin-top: 1rem;
  background-color: var(--form-btn-bkg-color);
  border: solid 1px var(--form-btn-border-color);
  /* border: solid 1px rgb(193, 239, 255); */
  font-size: 0.8rem;
  text-align: center;
  padding: 0.2rem;
}

#invite-btn:hover, #add-bot-btn:hover {
  background-color: var(--form-btn-border-color);
}

#invite-btn:active, #add-bot-btn:active{
  transform: scale(0.88, 0.88);
}


#players-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#settings-wrapper ul {
  padding-inline-start: 0px;
  margin-bottom: 0.2rem;
  gap: 0.5rem;
}

#settings-wrapper li,
#bot-count-li {
  background-color: var(--item-bkg-color);
  width: 100%;
  height: 1.8rem;
  border: solid 1px var(--border-color);
  border-radius: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  align-content: center;
  align-items: center;
}

#bot-count-li {
  margin-top: 1rem;
}

#players-wrapper li,
#bot-count-li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div#bot-count-li {
  display: flex;
  justify-content: space-around;
  padding-right: 0.3rem;
}

#all-settings {
  flex-basis:50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#settings,
#coming-soon-settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#settings li,
#coming-soon-settings li {
  position: relative;
  justify-content: space-between;
  padding: 0.175rem 0.3rem;
}

/* input, select, .number-input, label { */
.input-div {
  position: relative;
  width: 35%;
  flex-grow: 0;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-name {
  flex-grow: 1;
  height: 100%;
  vertical-align: middle;
}

.info {
  display: none;
  position: absolute;
  top: 1.8rem;
  width: 95%;
  background-color: var(--form-btn-bkg-color);
  border: solid 2px var(--form-btn-border-color);
  border-radius: var(--item-border-radius);
  padding: 0.3rem;
  font-size: 0.9rem;
  text-align: justify;
  z-index: 1;
}

#settings-wrapper .toggle + label {
  transform: scale(1.1, 1.1)
}

div:hover ~ .info {
  display: unset;
}

.info:hover {
  display: none;
}

#start-game-button-border {
  position: relative;
  height: 5rem;
  flex-basis: 100%;
  padding: 0;
  border-radius: 0.8rem;
}

#start-game-button-border::before {
  z-index: -1;
  content: "";
  border-radius: 0.8rem;
  position: absolute;
  height: calc(100% - 0rem);
  width: calc(100% - 0rem);
  top: +0rem;
  left: calc(+0rem);
  background: linear-gradient(0deg, rgba(255, 162, 0, 1), rgba(255, 183, 0, 1));
  /* Borde animado */
  animation: beating-border 1.5s cubic-bezier(.42,0,.58,1) infinite;
}

#start-game-button {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  z-index: 1;
  font-weight: bolder;
  font-size: 2.5rem;
}

/* #start-game-button.disabled {
  font-size: 2rem;
}

#start-game-button.disabled::after {
  content: attr(alert);
  display: block ;
  font-size: 1.05rem;
  font-weight: bold;
  padding-top: 0.3rem;
} */

h2 {
  margin: 0;
}

h4 {
  margin: 0 0 0.5rem;
}