@import "./chat.css";
@import "./game.css";

#match-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#chat-wrapper {
  border: 1px solid lightgrey;
  margin: 0;
  /* min-width: 400px; */
  min-height: 10rem;
  max-height: 20rem;
  flex-grow: 1;
}

#game-wrapper {
  border:1px solid black;
  margin: 0;
  min-width: 400px;
  height: 20rem;
  flex-grow: 1;
}