@import "./match-chat.css";
@import "./match-settings.css";
@import "./match-game.css";
@import "./match-result.css";

#match-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  user-select: none;
}

#chat-wrapper {
  border: 1px solid lightgrey;
  margin: 0;
  /* min-width: 400px; */
  min-height: 10rem;
  max-height: 40rem;
  flex-grow: 1;
}

#settings-wrapper,
#game-wrapper,
#result-wrapper {
  border:1px solid lightgray;
  margin: 0;
  width: 35rem;
  height: 40rem;
  flex-grow: 1;
}

#game-wrapper,
#result-wrapper {
  display: none;
}